cookbook.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Model">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RecipeFrames">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="recipeFrame" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="title"/>
                                        <xs:element name="IngredientFrames">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ingredientFrame" maxOccurs="unbounded"
                                                                minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="name"
                                                                                  use="optional"/>
                                                                    <xs:attribute type="xs:short" name="quantity"
                                                                                  use="optional"/>
                                                                    <xs:attribute type="xs:string" name="unit"
                                                                                  use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="class" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:byte" name="time"/>
                                        <xs:element type="xs:byte" name="serving"/>
                                        <xs:element name="stepFrames">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="stepFrame" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:byte" name="no"
                                                                                  use="optional"/>
                                                                    <xs:attribute type="xs:string" name="desc"
                                                                                  use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="class" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="class"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
        </xs:complexType>
    </xs:element>
</xs:schema>

